# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# macOS
.DS_Store

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
Thumbs.db

.idea/


GTSRB.zip

GTSRB/

tsr-analysis-src/

#SwinIR/.venv/
#SwinIR/.idea/
#SwinIR/.figs/
SwinIR/results/
#SwinIR/.vscode/
SwinIR/testsets/

SwinIR.zip
SwinIR/figs/
SwinIR/model_zoo/swinir/

LoRA/examples/
models/005_colorDN_DFWB_s128w8_SwinIR-M_noise15.pth

models/

resnet18_dirty_Epoch5.pth
