# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# macOS
.DS_Store

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
Thumbs.db

select_data.sh
classify.sh

.idea/
test_select.py
TSRD-Test/

filtered-tsrd-test/
tsrd-train/

data.zip
data/

image_table_src/

GTSRB.zip

GTSRB/

tsr-analysis-src/

SwinIR/.venv/
SwinIR/.idea/
SwinIR/.figs/
SwinIR/results/
SwinIR/.vscode/
SwinIR/testsets/

